.about-text {
    text-align: justify;
    margin: -20px 0 0 0;
}

.casa-image {
    width: 400px;
    height: auto;
}

.image-container-casa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}