.history {
    max-width: 740px;
    margin: auto;
}

.job-all-container {
    display: flex;
}

.job-details-container {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 0 0;
}

.job-text-details {
    flex: 1;
    font-weight: 1000;
}

.job-article {
    margin: 0 10px 0 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-place {
    margin-right: 0px;
    font-style: italic;
}

.job-image {
    width: 60px;
    height: auto;
    margin: 0 15px 0 0;
}

.job-desc {
    text-align: justify;
    font-weight:lighter;
    color: rgba(0, 0, 0, 0.705);
}