.vanilla-list,
.ruled-list,
.cards {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
}
.vanilla-list li,
.ruled-list li,
.cards li {
    list-style: none;
}
.ruled-list li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.faint,
.muted,
.card-details-description {
    opacity: 0.5;
}
.text-center,
.centered {
    text-align: center;
}
.text-small {
    font-size: 0.9rem;
}
.unpadded,
.card-details-description {
    padding: 0;
}
.small-text,
.card-details-description {
    font-size: 0.9rem;
}
.lowercase {
    text-transform: lowercase;
}
.column,
.text-column,
.main-column,
figure,
pre > code,
.page__content > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-column,
pre > code,
.page__content > * {
    max-width: 740px;
}
.main-column,
figure {
    max-width: 1080px;
}
@media screen and (min-width: 480px) and (max-width: 1080px) {
    .main-column,
    figure {
        max-width: 720px;
    }
}
@media screen and (min-width: 480px) and (max-width: 720px) {
    .main-column,
    figure {
        max-width: 360px;
    }
}
.no-float,
.float-none,
.card,
.color-bar,
.float-left,
.card,
.color-bar > div,
#social-nav a {
    display: block;
    float: left;
    clear: none;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: Georgia, serif;
    color: #333;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    font-size: 1.1rem;
    text-align: center;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    }
a:hover {
    text-decoration: underline;
}
p,
ul,
ol {
    text-align: left;
    line-height: 1.8;
    padding: 10px 0;
    margin: 0;
    list-style-position: inside;
}
p a,
ul a,
ol a {
    text-decoration: underline;
    color: #333;
}
p a:hover,
ul a:hover,
ol a:hover {
    text-decoration: underline;
}
blockquote p {
    font-style: italic;
    padding-left: 30px;
    border-left: 3px solid #ddd;
    color: #666;
}
h1,
h2,
h3,
h4 {
    text-align: left;
    font-weight: normal;
    color: #000;
    line-height: 1.2;
    transition: all 0.3s;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 30px 0 0 0;
}
h2 {
    font-size: 1.7rem;
    margin: 0;
    padding: 40px 0 20px 0;
}
h2 a {
    display: block;
    color: #000;
}
h2 a:hover {
    text-decoration: none;
}
h3 {
    font-size: 1.4rem;
    margin: 0;
    padding: 30px 0 5px 0;
    color: #000;
}
h3 a {
    padding: 0;
    color: #000;
}
@media screen and (max-width: 480px) {
    pre {
        padding: 10px;
    }
}
code {
    font-family: 'Droid Sans Mono', Menlo, Monaco, Courier, monospace;
    color: #384452;
    font-size: 1rem;
    line-height: 1.4;
}
code.sh .source.shell:before {
    content: "$ ";
    opacity: 0.4;
}
pre > code {
    display: block;
}
p > code,
li > code {
    font-size: 1rem;
    display: inline-block;
    background: #eee;
    border: 1px solid #ddd;
    padding: 1px 4px;
    border-radius: 2px;
}
header {
    padding: 60px 0;
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2rem;
    }
}
.cards {
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
}
.card {
    height: 360px;
    margin: 0 0 40px 0;
    padding: 0 20px 20px 20px;
}
@media screen and (max-width: 480px) {
    .card {
        width: 100%;
        height: auto;
        padding: 0;
    }
}
.card-inner {
    width: 320px;
    display: block;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.08);
    transition: all 0.4s;
}
.card-inner:hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.329);
}
@media screen and (max-width: 480px) {
    .card-inner {
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
.card-thumbnail {
    display: block;
    width: 100%;
    height: 280px;
    overflow: hidden;
    background: #fff;
}

.card-thumbnail img {
    width: 100%;
}
.img-storymous {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
}
.img-bombparty {
    position: relative;
    top: 52%;
    transform: translateY(-50%);
    width: 100%;
}

@media screen and (max-width: 480px) {
    .card-thumbnail {
        display: block;
        width: 100%;
        height: 280px;
        overflow: hidden;
        background: #fff;
    }
}
.card-details {
    padding: 14px 20px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media screen and (max-width: 480px) {
    .card-details {
    background: none;
    padding: 0px 20px;
    }
}
.card-details-title {
    font-size: 1rem;
    line-height: 1.6;
    text-decoration: none;
}
.card-details-description {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4;
}
footer {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}
#footer-site-nav {
    margin: 15px 0 15px 0;
    display: block;
    text-align: center;
    line-height: 2;
}
#footer-site-nav a {
    display: inline-block;
    transition: all 0.3s;
    font-size: 1rem;
    line-height: 1;
    color: #000;
    opacity: 0.5;
}
#footer-site-nav a:hover {
  opacity: 1;
}
#footer-site-nav a:after {
    content: " / ";
    text-align: center;
    display: inline-block;
    width: 50px;
    opacity: 0.3;
}
#footer-site-nav a:last-child:after {
    display: none;
}
.page__content {
    position: relative;
}
.page__description {
    padding: 10px 15px;
    opacity: 0.4;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}


@media screen and (max-width: 480px) {
    .page__content {
        padding-left: 20px;
        padding-right: 20px;
  }
}

@media screen and (max-width: 480px) {
    #social-nav a {
        width: 100%;
        font-size: 4rem;
  }
}